.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    font-size: 20px;
    border-top: 1px solid #E5E5E5;
}

.footer .heart {
    color: red;
}

.container .logo {
    padding-top: 80px;
    padding-bottom: 80px;
}

.container .page-header {
    margin-bottom: 40px;
}

.container-wrapper.light {
    background: rgb(47, 50, 56);
}

.container-wrapper.dark {
    background: rgb(38, 41, 46);
}

.container-wrapper {
    padding-top: 80px;
    padding-bottom: 80px;
}

.container.light {}

.container .page-header {
    font-size: 40px;
}

.container .page-header .icon {
    -webkit-transition: color 0.1s linear 0s;
    -moz-transition: color 0.1s linear 0s;
    -o-transition: color 0.1s linear 0s;
    transition: color 0.1s linear 0s;
}

.container .page-header:hover .heart {
    color: red;
}

.container .page-header:hover .globe {
    color: rgb(62, 154, 18);
}

.container .description {
    letter-spacing: 1px;
}

.container .description h1,
.container .description h2 {
    line-height: 48px;
}

.container .description .invitation b {}

.container .eventos .evento {
    padding-top: 6px;
    padding-bottom: 6px;
}

.container .partners .img-wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}

.container .partners .partner .img-wrap .img {
    width: 100%;
}

.container .partners .partner .img-wrap .text {
    text-align: center;
    font-size: 14px
}

.container .partners .missing .text {
    text-align: center;
    font-size: 28px;
    margin-top:40px;
    margin-bottom:20px;
}

.container .partners .missing .subtext {
    text-align: center;
    font-size: 20px;
}


.container .noders .img-wrap {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}

.container .noders .img-wrap .img {
    width: 100%;
}

.container .noders .img-wrap .text {
    font-size: 14px;
    text-align: center;
}

.container .noders .missing .text {
    text-align: center;
    font-size: 28px;
    margin-top:40px;
    margin-bottom:20px;
}

.container .noders .missing .subtext {
    text-align: center;
    font-size: 20px;
}


.container .map .map-container .angular-google-map-container {
    height: 550px;
}

.container .map .map-container .angular-google-map-container .window {}

.container .map .map-container .angular-google-map-container .window .url {
    color: black;
}

.container {
    padding-top: 50px;
    padding-bottom: 40px;
}

.footer .container-wrapper {
    padding: 0;
}

.footer .helpers {
    font-size: 14px
}

.footer .github {
    font-size: 22px
}

@media (max-width: 500px) {
    .container .partners .partner .img-wrap .text {
        font-size: 13px;
    }
    .container .noders .img-wrap .text {
        font-size: 10px;
    }
}
